{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Home</h2>
        <p>Welcome, {{request.user.name}}!</p>
        <p>ID: {{request.user.id}}</p>
        <p>Email: {{request.user.email}}</p>
        <p>Email: {{request.user.created_at}}</p>
        <p></p>
        <a href="{% url 'authapp:protected' %}">Protected page</a>
        <form action="{% url 'authapp:logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
</body>
</html>