{% extends "base.html" %}
{% load static %}

{% block title %}Venue List{% endblock %}

{% block extra_styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/venue_list.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <h1>Venues</h1>
        <p>Check out these amazing venues available for you. Don't miss out on the fun!</p>
    </div>
</section>

<!-- Venues Section -->
<section class="events">
    <div class="list_container">
        <a href="{% url 'create_venue' %}">Add Venue</a>
        {% for venue in venues %}
        <div class="event-card">
            <div>
                {% with venue.images.all as images %}
                    {% if images %}
                        {% for image in images %}
                            <img src="{{ image.image.url }}" alt="Image of {{ venue.name }}" class="venue-image">
                        {% endfor %}
                    {% else %}
                        <p><em>No image available for {{ venue.name }}</em></p>
                    {% endif %}
                {% endwith %}

            </div>
            <div>
                <h3 class="event-title">{{ venue.name }}</h3>
                <p class="event-description">{{ venue.description|default:"No description." }}</p>
                <div class="event-location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>{{ venue.city }}, {{ venue.region }}, {{ venue.country }}</span>
                </div>
                <a href="{% url 'edit_venue' venue.id %}">Edit</a>
            </div>
        </div>
        {% empty %}
        <p>No venues available.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
