{% extends "base.html" %}
{% load static %}

{% block title %}Venue List{% endblock %}

{% block extra_styles %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/venue_list.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="container">
        <h1>Venues</h1>
        <p>Check out these amazing venues available for you. Don't miss out on the fun!</p>
        <a href="{% url 'add-venue' %}" class="btn">Add Venue</a>
        
    </div>
</section>

<!-- Venues Section -->
<section class="venues container">
    <div class="venue_container">
        {% for venue in venues %}
        <div class="venue-card">
            <div class="venue-image-container">
                {% with venue.images.all|first as image %}
                    {% if image %}
                        <img src="{{ image.image.url }}" alt="Image of {{ venue.name }}" class="venue-image">
                    {% else %}
                    <div class="no-image-placeholder">
                        <i class="fas fa-image"></i>
                        <a href="{% url 'edit_venue' venue.id %}">Edit</a>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="venue-details">
                <h3 class="venue-title">{{ venue.name }}</h3>
                <p class="venue-description">{{ venue.description|default:"No description available."|truncatechars:100 }}</p>
                <div class="venue-location">
                    <i class="fas fa-map-marker-alt" style="color: black;"></i>
                    <span>{{ venue.city }}{% if venue.region %}, {{ venue.region }}{% endif %}, {{ venue.country }}</span>
                </div>
                <div class="venue-capacity">
                    <i class="fas fa-users" style="color: black;"></i>
                    <span>Capacity: {{ venue.capacity }}</span>
                </div>
                <div class="more-details">
                    <a href="{% url 'venue_details' venue.id %}"> Details</a>
                        <p><a href="{% url 'edit_venue' venue.id %}"> edit</a></p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No venues available.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}